body{
    font-family: Arial, sans-serif;
}

:root{
    --font_card_size: 16px;
    --font_card_count: 40px;
}

.system_options_wrapper {
    width: 100%;
    min-width: 500px;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.card_options {
    width: 100%;
    max-width: 450px;
    min-width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid gray;
    border-radius: 10px;
    text-decoration: none;
}

.card_options .user_card, .product_card, .marcas_card{
    border: none;
    border: 2px solid gray !important;
}

.user_card_body, .product_card_body, .marcas_card_body, .sales_card_body {
    flex: 1;
    display: flex;
    justify-content: space-between;
    color: white;
    fill: white;
    border-radius: 8px 8px 0px 0px;
    padding: 10px 20px;
    text-align: right;
}

.user_card_body {
    background-color: #990b0b;
}

.product_card_body {
    background-color: #c30909;
}

.marcas_card_body {
    fill: white;
    background-color: #f41515;
}

.sales_card_body {
    background-color: #f75959;
}

.user_card_body div, .product_card_body div, .marcas_card_body div, .sales_card_body div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.user_card_footer, .product_card_footer, .marcas_card_footer, .sales_card_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: whitesmoke;
    font-size: var(--font_card_size);
    font-weight: bold;
    border-radius: 0px 0px 10px 10px;
    text-decoration: none !important;
}

.user_card_footer {
    color: #990b0b;
}

.product_card_footer {
    color: #c30909;
}

.marcas_card_footer {
    color: #f41515;
}

.sales_card_footer {
    color: #f75959;
}


.user_card_footer p, .product_card_footer p, .marcas_card_footer p, .sales_card_footer p{
    margin: 0;
}

.count_card_value{
    font-size: var(--font_card_count);
    margin-top: 10px;
}

.sales_card {
    width: 100%;
    min-width: 300px;
    max-width: 1400px;
}

.user_wrapper{
    display: flex;
    flex-direction: column;
    margin-inline: 10%;
}

.user_wrapper h1{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}



@media (max-width: 1420px) {
    .system_options_wrapper{
        justify-content: center;
        gap: 50px;
        padding-inline: 20px;
    }

    .sales_card {
        width: 100%;
        max-width: 450px;
        min-width: 300px;
    }
}

@media (max-width: 800px){
    .system_options_wrapper{
        display: block;
    }

    .card_options {
        margin-inline: auto;
        margin-bottom: 25px;
    }
}
