@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

:root {
    --font_card_size: 16px;
    --font_card_count: 40px;
    --hover_color: #480f10;
}

select{
    height: 38px;
    border-width: 2px;
}

h1 {
    font-size: 36px;
    font-weight: bolder;
}

.wrapper_default {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-block: 2rem;
    padding-inline: 8rem;
}

.form_group {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 10px;
}

.form_group_inputs {
    display: flex;
    flex-direction: row;
}

.form_group_inputs div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.actions_buttons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    padding-block: 1rem;
    border-top: 1px solid lightgray;
}

.actions_buttons .btn{
    min-width: 100px;
    background-color: whitesmoke;
}

.btn:hover {
    color: white;
    background-color: var(--hover_color);
    border-color: var(--hover_color);
}

.table_list_itens {
    width: 100%;
    border-collapse: collapse;
    padding: 10px;
}

.table_list_itens tr {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.table_list_itens tbody tr:nth-child(2n+1) {
    background-color: #ebeaea;
}

.table_list_itens th {
    font-size: 1.1em;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-weight: 400;
}

.table_list_itens th, td {
    padding: .625em;
    text-align: center;
    white-space: nowrap;
}

.table_list_itens svg {
    fill: #990b0b;
}

.table_list_itens svg:hover {
    fill: var(--hover_color);
}

/* Credentials validation styles */

/* Style the container for inputs */
.validation_credentials {
    width: 40%;
    margin-inline: auto;
    background: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 20px 10px 60px;
    border: .5px solid whitesmoke;
    border-radius: 10px;
    box-shadow: 3px 5px 12px whitesmoke;
}

/* The message box is shown when the user clicks on the password field */
#message {
    display: block;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
}

#message p {
    padding: 10px 35px;
    font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -35px;
    content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
}

.system_options_wrapper {
    width: 100%;
    min-width: 500px;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.card_options {
    width: 100%;
    max-width: 450px;
    min-width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid gray;
    border-radius: 10px;
    text-decoration: none;
}

.card_options .user_card, .product_card, .marcas_card{
    border: none;
    border: 2px solid gray !important;
}

.user_card_body, .product_card_body, .marcas_card_body, .sales_card_body {
    flex: 1;
    display: flex;
    justify-content: space-between;
    color: white;
    fill: white;
    border-radius: 8px 8px 0px 0px;
    padding: 10px 20px;
    text-align: right;
}

.user_card_body {
    background-color: #990b0b;
}

.product_card_body {
    background-color: #c30909;
}

.marcas_card_body {
    fill: white;
    background-color: #e84f4f;
}

.sales_card_body {
    background-color: #f75959;
}

.user_card_body div, .product_card_body div, .marcas_card_body div, .sales_card_body div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.user_card_footer, .product_card_footer, .marcas_card_footer, .sales_card_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: whitesmoke;
    font-size: var(--font_card_size);
    font-weight: bold;
    border-radius: 0px 0px 10px 10px;
    text-decoration: none !important;
}

.user_card_footer {
    color: #990b0b;
}

.product_card_footer {
    color: #c30909;
}

.marcas_card_footer {
    color: #e84f4f;
}

.sales_card_footer {
    color: #f75959;
}

.user_card_footer:hover, .product_card_footer:hover, .marcas_card_footer:hover, .sales_card_footer:hover{
    color: var(--hover_color);
}


.user_card_footer p, .product_card_footer p, .marcas_card_footer p, .sales_card_footer p{
    margin: 0;
}

.count_card_value{
    font-size: var(--font_card_count);
    margin-top: 10px;
}

.sales_card {
    width: 100%;
    min-width: 300px;
    max-width: 1400px;
}

.wrapper_user_filter{
    width: 100%;
    margin-top: 10px;
    padding-top: 30px;
    border-top: 1px solid lightgray;
}

.filter_form_wrapper{
    display: flex;
    flex-direction: column;
}

.filter_inputs{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.filter_inputs label {
    width: calc(100% / 4 - 20px);
    display: flex;
    flex-direction: column;
    font-size: 20px;
}


.filter_inputs label span{
    margin-bottom: 10px;
    font-weight: 400;
}


.filter_inputs label input{
    width: 100%;
    padding-inline: 20px;
    border: 2px solid gray;
    border-radius: 5px;
}

.filter_buttons{
    width: 100%;
    margin-top: 30px;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
}

.filter_buttons a{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.filter_buttons button{
    min-width: 100px;
    padding: 5px 20px 5px 20px;
}

.filter_buttons a{
    min-width: 100px;
    padding: 5px 20px 5px 20px;
}

.wrapper_user_list {
    width: 100%;
    margin-top: 30px;
    overflow-x: auto;
}

.details_inputs {
    column-gap: 20px;
    row-gap: 10px;
    flex-wrap: wrap;
}

.details_inputs div{
    width: calc(100% / 3 - 20px);
}

.details_inputs div label{
    font-size: 18px;
    font-weight: 400;
}

.details_inputs div input, select{
    padding: 5px 10px 5px 20px;
    border-radius: 5px;
}

.create_user_form {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column; 
}

.form_group_create {
    display: flex;
    column-gap: 20px;
    row-gap: 10px;
    flex-wrap: wrap;
}

.form_group_create div{
    width: calc(100% / 3 - 20px);
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form_group_create div label{
    font-size: 18px;
    font-weight: 400;
}

.btn_form_actions{
    margin-top: 20px;
    width: 100%;
    display: flex;
    gap: 20px;
}

.SetCredentialsForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}

.SetCredentialsForm .div_group_form_user {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.div_group_form_user div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.SetCredentialsButtons{
    display: flex;
    gap: 20px;
}

.SetCredentialsButtons button, .SetCredentialsButtons a{
    display: inline-block;
    width: 180px;
}



@media (max-width: 1420px) {
    .system_options_wrapper{
        justify-content: center;
        gap: 50px;
        padding-inline: 20px;
    }

    .sales_card {
        width: 100%;
        max-width: 450px;
        min-width: 300px;
    }

    .SetCredentialsForm .div_group_form_user {
        width: 40%;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}

@media (max-width: 1200px){
    .details_inputs div {
        width: calc(100% / 2 - 20px);
    }

    .form_group_create div {
        width: calc(100% / 2 - 20px);
    }

    
}

@media (max-width: 1100px){
    .filter_inputs{
        flex-wrap: wrap;
        gap: 10px;
    }

    .filter_inputs label{
        width: 47%;
    }

    .validation_credentials {
        width: 60%
    }
}

@media(max-width: 950px) {
    .wrapper_default {
        margin-block: 2rem;
        margin-inline: 1rem;
        padding-inline: 2rem;
    }

    .SetCredentialsForm .div_group_form_user {
        width: 50%;
    }
}

    

@media (max-width: 800px){
    .system_options_wrapper{
        display: block;
    }

    .card_options {
        margin-inline: auto;
        margin-bottom: 25px;
    }

}

@media (max-width: 700px) {
    .validation_credentials{
        width: 100%;
    }

    .filter_inputs {
        flex-wrap: wrap;
        gap: 0px;
    }

    .filter_inputs label{
        width: 100%;
    }

    .btn{
        font-weight: 500;
        font-size: 12px;
        padding-block: 10px;
    }

    .details_inputs div {
        width: calc(100%  - 20px);
    }

    .form_group_create div {
        width: calc(100% - 20px);
    }

    .SetCredentialsForm .div_group_form_user {
        width: 80%;
    }
}
