@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

:root{
    --font_card_size: 16px;
    --font_card_count: 40px;
}

.btn_create_new_element{
    width: 200px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: bold;
}

.system_options_wrapper {
    width: 100%;
    min-width: 500px;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.card_options {
    width: 100%;
    max-width: 450px;
    min-width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid gray;
    border-radius: 10px;
    text-decoration: none;
}

.card_options .user_card, .product_card, .marcas_card{
    border: none;
    border: 2px solid gray !important;
}

.user_card_body, .product_card_body, .marcas_card_body, .sales_card_body {
    flex: 1;
    display: flex;
    justify-content: space-between;
    color: white;
    fill: white;
    border-radius: 8px 8px 0px 0px;
    padding: 10px 20px;
    text-align: right;
}

.user_card_body {
    background-color: #990b0b;
}

.product_card_body {
    background-color: #c30909;
}

.marcas_card_body {
    fill: white;
    background-color: #f41515;
}

.sales_card_body {
    background-color: #f75959;
}

.user_card_body div, .product_card_body div, .marcas_card_body div, .sales_card_body div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.user_card_footer, .product_card_footer, .marcas_card_footer, .sales_card_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: whitesmoke;
    font-size: var(--font_card_size);
    font-weight: bold;
    border-radius: 0px 0px 10px 10px;
    text-decoration: none !important;
}

.user_card_footer {
    color: #990b0b;
}

.product_card_footer {
    color: #c30909;
}

.marcas_card_footer {
    color: #f41515;
}

.sales_card_footer {
    color: #f75959;
}


.user_card_footer p, .product_card_footer p, .marcas_card_footer p, .sales_card_footer p{
    margin: 0;
}

.count_card_value{
    font-size: var(--font_card_count);
    margin-top: 10px;
}

.sales_card {
    width: 100%;
    min-width: 300px;
    max-width: 1400px;
}

.user_wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-inline: 50px;
    margin-top: 50px;
    padding: 20px;
}



.user_wrapper h1 {
    font-size: 32px;
    font-weight: bolder;
}

.wrapper_user_filter{
    width: 100%;
    margin-top: 30px;
}

.filter_form_wrapper{
    display: flex;
    flex-direction: column;
}

.filter_inputs{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.filter_inputs label {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}


.filter_inputs label span{
    margin-left: 10px;
    font-weight: bold;
}


.filter_inputs label input{
    width: 100%;
    padding-inline: 20px;
    border-radius: 5px;
}

.filter_buttons{
    width: 100%;
    margin-top: 20px;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
}

.wrapper_user_list {
    width: 100%;
    margin-top: 50px;
    overflow-x: auto;
}

.wrapper_user_list table{
    width: 100%;
}

.wrapper_user_list table thead{
    font-size: 18px;
    font-weight: bold;
}

.wrapper_user_list table tr{
    border-collapse: collapse;
    border-top: 1px solid black;
    border-bottom: 1px solid black; 
    padding-block: 10px;
}


@media (max-width: 1420px) {
    .system_options_wrapper{
        justify-content: center;
        gap: 50px;
        padding-inline: 20px;
    }

    .sales_card {
        width: 100%;
        max-width: 450px;
        min-width: 300px;
    }
}

@media (max-width: 1100px){
    .filter_inputs{
        flex-wrap: wrap;
        gap: 10px;
    }

    .filter_inputs label{
        width: 47%;
    }
}

@media (max-width: 800px){
    .system_options_wrapper{
        display: block;
    }

    .card_options {
        margin-inline: auto;
        margin-bottom: 25px;
    }
}

@media (max-width: 700px) {

    .filter_inputs {
        flex-wrap: wrap;
        gap: 0px;
    }

    .filter_inputs label{
        width: 100%;
    }
}
