@using TodaHora.Models
@model IEnumerable<TodaHora.Models.Usuario>
@{
    ViewBag.Title = "Informações de usuário";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container_wrapper_user">
    <h1>Detalhes de usuário</h1>

    <div class="container_user">
        <nav class="nav_user">
            <h2>Informações</h2>

            <ul class="user_info_list">
                <li><a href="#">Informações pessoais</a></li>
                <li><a href="#">Conta</a></li>
            </ul>
        </nav>

        <section class="details_user">

            <section class="profile">
                
            </section>

            <section class="account">

            </section>

        </section>
    </div>
</div>
